.card-header{
    background-color: 	rgb(248, 244, 244);
}
.btn {
    background-color:#23234A;
    border:#23234A;
    color:white;
}
.btn:hover {
    background-color: #edc948;
    color: white;
}
/* [1] The container */
.geeks {
    width: 350px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.geeks img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.geeks:hover img {
    transform: scale(1.5);
}